.home-content{
  display:grid;
  height:100vh;
  background: fixed;
  background-image:url(../IMAGES/da6d306e34b453b1198f069a725fc91d.webp);
  background-size: cover;
}
.home-p-content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:left;
  padding-left: 15%;
  background-image: url(../IMAGES/Text-background.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  color:transparent;
  font-family:Poppins,Arial, Helvetica, sans-serif;
}
.firstline{
  font-weight:500;
  font-size:200%;
}
.secondline{
  font-weight:1000;
  font-size:305%;
}
.thirdline{
  font-weight:500;
  font-size:180%;
}
.hireme{
  margin-top:20px;
  color:rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border:none;
  padding:12px 20px;
  font-size:20px;
  border-radius:6px;
  font-size:23px;
  font-weight:400;
  transition: all 0.5s;
}
.hireme:hover{
  color:rgb(0, 0, 0);
  background-color: white;
  cursor:pointer;
  font-weight:600;
}


